img#logo {

    float: left;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
}

em {
    font-weight: bold;
}

a {
    text-decoration: none;
}

img.loadingImage {
    padding-left: .5em;
}

a.disabled {
    color: gray;
}

#sprime_header {

    margin-top: 24px;

}

#logoutLink {
    text-decoration: none;
    margin-top: 24px;
    font-size: 2em;
}

ul.list {

    list-style-type:none;
    margin-left: 0px;
    margin-bottom: 0px;

}